<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZASIANE – Logowanie</title>
  <link rel="stylesheet" href="/public/styles/login.css">
</head>
<body>
  <!-- logo w lewym górnym rogu -->
  <img src="../images/logo.png" alt="ZASIANE" class="corner-logo">

  <div class="background">
    <div class="frame">
      <!-- Formularz logowania -->
      <form class="form" action="/login" method="POST">
  <label for="login">Login:</label>
  <input type="text" id="login" name="login" required>

  <label for="haslo">Hasło:</label>
  <input type="password" id="haslo" name="haslo" required>

  <button type="submit" class="login-btn">zaloguj</button>
  <button type="button" class="register-btn" onclick="window.location.href='/register'">
    załóż konto
  </button>
</form>

    </div>
  </div>
</body>
</html>
