<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZASIANE – Logowanie</title>
 <link rel="stylesheet" href="/public/styles/login.css">
</head>
<body>
  <!-- logo w lewym górnym rogu -->
 <img src="/public/images/logo.png" alt="ZASIANE" class="corner-logo">
  <div class="background">
    <div class="frame">
      <div class="form">
        <label for="login">Login:</label>
        <input type="text" id="login" name="login" placeholder="Wpisz login">

        <label for="haslo">Hasło:</label>
        <input type="password" id="haslo" name="haslo" placeholder="Wpisz hasło">

        <button class="login-btn">login</button>
        <button class="register-btn">załóż konto</button>
      </div>
    </div>
  </div>
</body>
</html>
