.main-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.split-card {
    display: flex; /* To sprawia, że lewa i prawa strona są obok siebie */
    width: 900px;
    height: 500px;
    background: white; /* Opcjonalnie, dla kontrastu */
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.form-side {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-side label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-side input, .form-side select {
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.preview-side {
    width: 350px;
    background-color: var(--dark-green);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.preview-icon {
    font-size: 8rem;
}

.btn-submit {
    background: var(--accent-green);
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}